.footer-wrapper
    .col-f-1
        h1 Say hi!
    
        h2: a(href="mailto:someone@example.com?Subject=Hello%20again" target="_top") contact@ap.com
        h2 + 44 77539 - 5367 - 24

    .col-f-1
       h3 SUBSCRIBE NEWSLETTER 
       form.sub-form
            input(type='text' placeholder='Enter Email' name='email').sub-form--input
            button.h5.sub-form--subcribe subsribe
