header.header-wrapper.txt-c.white
    .fixed.txt-c.flex.flex-c.header-position
        h1.w-auto AP

        nav.site-nav
            ul.list-sn.txt-c
                li.m20: a( href="#") F
                li.m20: a( href="#") T
                li.m20: a( href="#") IN

        h3.vert-text APOLLO
        
        .search-icon 
            h3 S

        hr.h-bar

        .mobile-nav-toggle: span