

//- .mobile-nav.is-open
//-     +nav-content
    
//- .header 
//-     .header-postition
//-         h1.logo.txt-c AP
        
        nav.social
            ul.txt-c
                li: a(href="#") F
                li: a(href="#") T
                li: a(href="#") IN

        nav.site-nav
          +nav-content

        h3.vert-text APOLLO
        

        hr.head-line

        .mobile-nav-toggle: span


mixin nav-content()
    ul.txt-c
        li: a(href="#") Home
        li: a(href="#") About
         li: a(href="#") Portfolio
          li: a(href="#") Blog
        li: a(href="#") Contact

.header  
    h1.logo AP

    nav.social
        ul.txt-c
            li: a(href="#") F
            li: a(href="#") T
            li: a(href="#") IN

    h5.vert-text Photography 

    h5.vert-text.vert-min Apolo 

    nav.site-nav
        +nav-content

    .head-line.mb20

    .mobile-nav-toggle: span
