//- Index starts with home-body section tag
section.hero
    .hero--slide.gold
    .hero--text.pale-green

//- section.home-gal
//-     .home-gal--img--col--1.pale-green
//-         .home-gal--img--sm.aqua 
//-         .home-gal--img--md.crimson
        
//-     .home-gal--img--col--2.gold
//-         .home-gal--img--md.black
//-         .home-gal--img--sm.dark-red

section.hero
    .hero--text.off-white

section.blog-item
    .blog-img.half.gold
    .blog-img.half.dark-orange