//- port-item.html has a section of port-body to start

section.port-info-wrapper
    .port-info
        h1.port-info--head--tittle Stories Collective 
        p.port-info--p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        span.port-info--line

        h3.port-info--small--tittle PROJECT BY
        p.port-info--small--info Mauro Nappolini

        h3.port-info--small--tittle CATAGORIES
        p.port-info--small--info ART

        h3.port-info--small--tittle DESIGN
        p.port-info--small--info LEGO

        h3.port-info--small--tittle MADE IN
        p.port-info--small--info 2017

        .port-social-icons
            a(href="" class="") F
            a(href="" class="port-social-icons--a") T
            a(href="" class="port-social-icons--a") IN
            a(href="" class="port-social-icons--a") DR

section.port-img.gold
    h1 Hello World
    .port-img--item.port-img-1.gold
    .port-img--item.port-img-2.cyan
    .port-img--item.port-img-3.aqua
    .port-img--item.port-img-4.crimson
    .port-img--item.port-img-5.dark-red
    .port-img--item.port-img-6.dark-green
    .port-img--item.port-img-7.white


