.img-col
    .img-m.off-white
        .on-hover 
            .on-hover--title 
                h2 Hello World 
                .on-hover--subtitle 
                    p Branding
    .img-m.cyan  
    .img-l.crimson 
    .img-m.deep-pink  
    .img-l.dark-orange  
    .img-m.aqua  
    