.m20{ margin: 20px 0; }

// img size for containers
// all widths will be 100% 




.img-s{
    height: 200px; 
    width: 100%; 
}
    
.img-m{
    height: 300px;
    width: 100%; 
}

.img-l{
    height: 600px; 
    width: 100%; 
}