.mb20{
    margin-bottom: 20px;
}
// Styles that will be applied from 0 - 799px
// remove the following from mobile view
.vert-text, 
.social, 
.head-line, 
.site-nav{
    display: none;
}

.header{
   
    display: flex;
    align-items: center;
    width: 100%; 
}

 .logo{
    margin-left: 15px;
     justify-content: flex-end;
     flex-basis: 85%;     
 }

.mobile-nav-toggle {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 10px;
    width: 50px; 
    height: 100%; 
    cursor: pointer;

    span, 
    span:before, 
    span:after{
        content: ""; 
        display: block;
        height: 2px; 
        background-color: #333;
        position: relative; 
        transition: all ease-in-out;
    }

    span{
        width: 100%;
    }
    span:before{
        top: 10px;
        width: 75%;
        left: 12.5%;
    }

    span:after{
        bottom: 12px; 
        width: 75%;
        left: 12.5%;
    }

    &.is-open span{
        background-color: transparent; 
    }

    &.is-open span:before, 
    &.is-open span:after{
        transform-origin: center; 
        transform: rotate(45deg);
        top: 0; 
    }

    &.is-open span:after{
        transform: rotate(-45deg);
    }
}


.mobile-nav{
    background-color: white;
    margin: 0; 
    position: absolute;
    width: 100%;
    padding: 15px; 
    transform: translateY(-100%);
    transform: all 0.3s ease-in-out;
    

    li{
        padding-top: 10px;
    }
}


// styles from 800px and up 
@media (min-width: 799px){
    
    .header{
        position: fixed;
        flex-basis: 10%;
        width: 9.075%;
        flex-direction: column;  
    }

    .logo{
        margin-top: 15px;
        flex-basis: 5%;
    }

    .vert-text, 
    .social, 
    .head-line{
        display: block;
    }


    .vert-text{
        margin-bottom: 110px;
        transform: rotate(-90deg);  
        margin-top: 100px; 
    }

    .vert-min{
        margin-top: -30px;
    }

    .social{
        margin-top: 15px;
         margin-bottom: 80px;
    }

    .mobile-nav-toggle{
        margin-top: 75px;
    }      

    .head-line{
        height: 50px;
        border-bottom: .5px solid #333; 
        width: 100%;
    }
}





















